@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --dark-color: #34444f;
  --light-color: #c3c7ca;
}

* {
  box-sizing: border-box;
}

header h1 {
  font-size: 40px;
}

body {
  color: var(--dark-color);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

main {
  min-width: 700px;
  text-align: center;
}

main h1 {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--dark-color);
}

li {
  margin: 5px 0;
}

form {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form input {
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

form label {
  padding: 10px 0;
  list-style: none;
}

form .btn {
  margin-top: 20px;
  border: 1px solid var(--dark-color);
}

.btn {
  background-color: var(--light-color);
  border: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 5px;
}

.btn:hover {
  background-color: var(--dark-color);
  color: #fff;
}

.btn:active {
  transform: scale(0.98);
}

button .btn {
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.container {
  align-items: center;
  width: 33.33%;
  max-width: 280px;
}

.container h2 {
  padding: 10px 20px;
  margin: 0;
  background-color: var(--light-color);
}

.game-div {
  display: flex;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-color);
  color: var(--dark-color);
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

#rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

#close-btn {
  border: 1px solid var(--dark-color);
}

.rules.show {
  transform: translateX(0);
}

#dice-current-number {
  margin: 50px 0 75px 0;
}

#display-dice-roll {
  background-color: #fff;
  padding: 10px;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.visible {
  display: block;
}

.winning {
  text-transform: uppercase;
  border: 3px dashed var(--dark-color);
  padding: 50px;
  margin: 50px auto;
  text-align: center;
  width: 600px;
  display: block;
  font-size: 50px;
}